base58==0.2.3
boto3==1.4.5
botocore==1.4.42
click==6.6
docutils==0.12
Flask==1.0
futures==3.0.5
hjson==2.0.0
itsdangerous==0.24
Jinja2==2.11.3
jmespath==0.9.0
kappa==0.6.0
lambda-packages==0.8.0
MarkupSafe==0.23
placebo==0.8.1
python-dateutil==2.5.3
python-slugify==1.2.0
PyYAML==5.4
requests==2.20
s3transfer==0.1.1
six==1.10.0
tqdm==4.11.2
Unidecode==0.4.19
Werkzeug==3.0.1
wsgi-request-logger==0.4.5
zappa==0.20.2
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
